<!--<p>payroll-dashboard works!</p>-->
<router-outlet></router-outlet>
<div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto container-lg">
        <div class="fade-in">
            <c-row>
                <c-col xs="12">
                    <c-card class="mb-4" style="border-radius:10px;">
                        <c-card-body class="display-6">
                            <div>
                                <c-row>
                                    <c-col xs="12">
                                        <span style="font-family:Verdana;">
                                            <h3>Hello, EMPLOYEE ANW</h3>
                                        </span>
                                    </c-col>
                                </c-row>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-col>

                <c-col xs="4">
                    <c-card class="mb-4" style="border-radius:10px;">

                        <c-card-body class="display-6">
                            <div>
                                <c-row>
                                    <c-col xs="12">
                                        <table cTable style="table-layout: fixed; word-wrap: break-word;">
                                            <tr>
                                                <td>
                                                    <span
                                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;">
                                                        <svg [cIcon]="icons.cilBellExclamation" size="xl"
                                                            title="List Icon"></svg></span>
                                                    <span>&nbsp;</span>
                                                    <span
                                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;">
                                                        Announcements</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </c-col>
                                </c-row>
                            </div>
                        </c-card-body>
                    </c-card>
                    <c-row>
                        <c-col xs="12">
                            <c-card class="mb-4" style="border-radius:10px;height:95%;">

                                <c-card-body class="display-6">
                                    <div>
                                        <c-row>
                                            <c-col xs="12">
                                                <div>
                                                    <table cTable style="table-layout: fixed; word-wrap: break-word;">
                                                        <tr>
                                                            <td>
                                                                <span
                                                                    style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;"><svg
                                                                        [cIcon]="icons.cilEnvelopeClosed" size="xl"
                                                                        title="Inbox"></svg></span>
                                                                <span>&nbsp;</span>
                                                                <span
                                                                    style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;">Inbox</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </c-col>
                                        </c-row>
                                    </div>
                                </c-card-body>
                            </c-card>

                        </c-col>
                    </c-row>

                </c-col>
                <c-col xs="8">
                    <c-card class="mb-4" style="border-radius:10px;">

                        <c-card-body class="display-6">
                            <div>
                                <c-row>
                                    <c-col xs="12">
                                        <table cTable style="table-layout: fixed; word-wrap: break-word;">
                                            <tr>
                                                <td>
                                                    <div>
                                                        <span
                                                            style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;">
                                                            <svg [cIcon]="icons.cilApplications" size="xl"
                                                                title="List Icon"></svg></span>
                                                        <span>&nbsp;&nbsp;</span>
                                                        <span
                                                            style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;float:left;">
                                                            &nbsp;Apps</span>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default"
                                                            routerLink="/payroll/payroll-dashboard" role="button">
                                                            <svg [cIcon]="icons.cilUser" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <div class="sm-4">
                                                                <h6>Personal Information</h6>
                                                            </div></a>
                                                    </div>
                                                </td>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default" routerLink="/payroll/vacation"
                                                            role="button">
                                                            <svg [cIcon]="icons.cilCalendar" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <span class="sm-4">
                                                                <h6>Leave</h6>
                                                            </span></a>
                                                    </div>
                                                </td>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default"
                                                            routerLink="/payroll/payroll-dashboard" role="button">
                                                            <svg [cIcon]="icons.cilSpreadsheet" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <span class="sm-4">
                                                                <h6>Pay</h6>
                                                            </span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default"
                                                            routerLink="/payroll/myteam-management" role="button">
                                                            <svg [cIcon]="icons.cilPeople" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <span class="sm-4">
                                                                <h6>Team Management</h6>
                                                            </span></a>
                                                    </div>
                                                </td>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default" routerLink="/reports" role="button">
                                                            <svg [cIcon]="icons.cilFile" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <span class="sm-4">
                                                                <h6>Reports</h6>
                                                            </span></a>
                                                    </div>
                                                </td>
                                                <td class="col-md-4">
                                                    <div style="text-align: center;" class="sm-4">
                                                        <a cButton color="default"
                                                            routerLink="/payroll/payroll-dashboard" role="button">
                                                            <svg [cIcon]="icons.cilExposure" size="3xl" class="sm-4"
                                                                title="List Icon"
                                                                style="align-items: center;"></svg><br />
                                                            <span class="sm-4">
                                                                <h6>Expense Claims</h6>
                                                            </span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </c-col>
                                </c-row>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </div>
    </c-container>
</div>