<!--<p>employee works!</p>-->
<c-container>
  <div class="fade-in">
    <c-row>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <strong>List of Employee</strong> <small></small>
          </c-card-header>
          <c-card-body>
            <table class="table table-striped" cTable>
              <thead>
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Post Code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>S1739313H</td>
                  <td>EMPLOYEE ANW</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>S0485032G</td>
                  <td>EMPLOYEE LOW</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>S1155047I</td>
                  <td>EMPLOYEE KAN</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>S6833949I</td>
                  <td>EMPLOYEE KEE</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>403509124</td>
                  <td>EMPLOYEE GA1</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>S8181842H</td>
                  <td>EMPLOYEE KU</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>S1160683J</td>
                  <td>EMPLOYEE NG</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>S1772145C</td>
                  <td>EMPLOYEE NGI</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>S0117178Z</td>
                  <td>EMPLOYEE TA1</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>S2196390I</td>
                  <td>EMPLOYEE ON1</td>
                  <td>Upper Aljunied Link</td>
                  <td>367903</td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </div>
</c-container>