<c-container>
  <c-row>
    <c-col>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="info" shape="rounded-pill" variant="outline" class="me-md-2"  >Advance Search</button>
             <button cButton color="info" shape="rounded-pill" variant="outline" routeLink="/newquote">New Invoice</button>
  <button cButton color="info" shape="rounded-pill" variant="outline">Colunm Setting</button>
        <button cButton color="info" shape="rounded-pill" variant="outline">Export To Excel</button>

       
      </div>

    </c-col>
  </c-row>
</c-container>
<br>
<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">INVOICE NUMBER</th>
      <th scope="col">INVOICE DATE DATE</th>
      <th scope="col">CUSTOMER CODE</th>
      <th scope="col">TOTAL DUE AMOUNT</th>
      <th scope="col">CUSTOMER NAME</th>
      <th scope="col">DELIVERY ADD</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
      <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
        
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL90020792</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm"  title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm"  title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm"  title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
       </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
       </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
</td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
       </td>
    </tr>



  </tbody>
</table>
