<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Invoice Information</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Customer Details</a>

</c-nav>
<c-card class="mb">
  <c-card-body>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane class="p-3">

        <form cForm class="row g-3">
          <c-col [md]="3">
            <label cLabel for="lblIno">Invoice No</label>
            <input cFormControl id="Ino" type="text" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblIdrange">Invoice Date Range</label>
            <input cFormControl id="IDrange" type="date" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblPono">P/O No </label>
            <input cFormControl id="POno" placeholder="" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblDono">D/O No</label>
            <input cFormControl id="DOno" placeholder="" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblAcode">Agent Code</label>
            <input cFormControl id="Acode" placeholder="" />
          </c-col>
          <c-col [xs]="12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button cButton type="submit" cButton color="light" shape="rounded-0">Clear</button>
              <button cButton type="submit" cButton color="dark" shape="rounded-0">Search</button>
            </div>
          </c-col>

        </form>

      </c-tab-pane>

      <c-tab-pane class="p-3">

        <form cForm class="row g-3">
          <c-col [md]="3">
            <label cLabel for="lblCno">Customer Code</label>
            <input cFormControl id="Cno" type="text" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblCname">Customer Name</label>
            <input cFormControl id="Cname" type="text" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblDpcode">Delivery Postal Code</label>
            <input cFormControl id="Dpcode" type="text" />
          </c-col><c-col [md]="3">
            <label cLabel for="lblDadd">Delivery Address</label>
            <input cFormControl id="Dadd" type="text" />
          </c-col>
          

          <c-col [xs]="12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button cButton type="submit" cButton color="light" shape="rounded-0">Clear</button>
              <button cButton type="submit" cButton color="dark" shape="rounded-0">Search</button>
            </div>
          </c-col>

        </form>
      </c-tab-pane>

    </c-tab-content>
  </c-card-body>
</c-card>
<c-card class="mt-4">
  <c-card-body >
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <button cButton color="info" shape="rounded-0"  class="me-md-2"  >Advance Search</button> -->
             <button cButton color="dark"  shape="rounded-0"  routerLink="/newinvoice"><svg [cIcon]="icons.cilPlus" size="sm" title="List Icon"  ></svg>New Invoice</button>
  <button cButton color="dark"  shape="rounded-0" ><svg [cIcon]="icons.cilSettings" size="sm" title="List Icon"></svg>Colunm Setting</button>
        <button cButton color="dark"  shape="rounded-0" ><svg [cIcon]="icons.cilShareBoxed" size="sm" title="List Icon" ></svg>Export To Excel</button>

       
      </div>

    </c-card-body>
  </c-card> 
<br>
<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">INVOICE NUMBER</th>
      <th scope="col">INVOICE DATE DATE</th>
      <th scope="col">CUSTOMER CODE</th>
      <th scope="col">TOTAL DUE AMOUNT</th>
      <th scope="col">CUSTOMER NAME</th>
      <th scope="col">DELIVERY ADD</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL90020792</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
        </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
       </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
       </td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
</td>
    </tr>

    <tr>
      <th scope="row">BL9002079</th>
      <td>	13/08/2021</td>
      <td>A000432</td>
      <td>	127.33</td>
      <td>	ALAN NG-96884338</td>
      <td>Jan 27, 2022</td>
     <td>
         <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
      </div>
       </td>
    </tr>



  </tbody>
</table>
    </c-card-body>
  </c-card>