<c-card>
    <c-card-body>
        <c-card class="mb-2">
            <c-card-body>
                <c-row>
                    <c-col [md]="1">
                        <c-avatar class="avatar" src="./assets/img/avatars/1.jpg"></c-avatar>
                    </c-col>
                    <c-col [xs]>
                        <div><strong>
                                <h4>John Doe</h4>
                            </strong></div>
                        <div class="small text-medium-empha>sis">
                            <span>Software Engineer, Registered : S1739313H </span>
                        </div>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
        <hr>
        <c-row class="g-3">
            <c-col [xs]>
                <label cLabel for="inputEmail4">First Name</label>
                <input aria-label="First name" cFormControl placeholder="John" />
            </c-col>
            <c-col [xs]>
                <label cLabel for="inputEmail4">Last Name</label>
                <input aria-label="Last name" cFormControl placeholder="Doe" />
            </c-col>
            <hr>
            <h5>Address</h5>

            <c-col [md]="6">
                <label cLabel for="inputCity">Blk/Hs No</label>
                <input cFormControl id="inputCity" placeholder="34" />
            </c-col>

            <c-col [md]="6">
                <label cLabel for="inputZip">Address Type</label>
                <select cSelect id="ictype">
                    <option>Local Residential Address</option>
                    <option>Foreign Address</option>
                    <option>Local C/O Address</option>
                    <option>Not Available</option>
                </select>
            </c-col>

            <c-col [xs]="6">
                <label cLabel for="inputAddress2">Street</label>
                <input cFormControl id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </c-col>

            <c-col [xs]="6">
                <label cLabel for="inputAddress2">Building Name</label>
                <input cFormControl id="buildingname" placeholder="Building Name" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputCity">Level</label>
                <input cFormControl id="inputCity" placeholder="08" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Unit</label>
                <input cFormControl id="inputZip" placeholder="25" />
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Postal Code</label>
                <input cFormControl id="inputZip" placeholder="550520" />
            </c-col>
            <hr>
            <h5>Contact Details</h5>

            <c-col [md]="4">
                <label cLabel for="inputZip">Email</label>
                <input cFormControl id="email" type="email" placeholder="" />
            </c-col>

            <!-- First Row -->
            <c-col [md]="4">
                <label cLabel for="inputCity">Home Tel No.</label>
                <input cFormControl id="hometelno" placeholder="" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Handphone No.</label>
                <input cFormControl id="handphoneno" placeholder="" />
            </c-col>

            <!-- Second Row -->
            <c-col [md]="4">
                <label cLabel for="inputZip">Alrernate No.</label>
                <input cFormControl id="alterno" placeholder="" />
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Emergency Contact No. 1</label>
                <input cFormControl id="emerno1" placeholder="" />
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Emergency Contact No. 2</label>
                <input cFormControl id="emerno2" placeholder="" />
            </c-col>
            <hr>

            <h5>Personal Particular</h5>
            <!-- First Row -->
            <c-col [md]="4">
                <label cLabel for="inputCity">Date of Birth</label>
                <input cFormControl id="dob" placeholder="" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Place of Birht</label>
                <input cFormControl id="birthplace" placeholder="" />
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Gender</label>
                <select cSelect id="ictype">
                    <option>Male</option>
                    <option>Female</option>

                </select>
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Educationt</label>
                <input cFormControl id="education" placeholder="" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Nationality</label>
                <select cSelect id="nationality">
                    <option>Singaporean</option>
                </select>
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputCity">Race</label>
                <select cSelect id="race">
                    <option>Race</option>
                </select>
            </c-col>
            <hr>

            <h5>Identification</h5>
            <c-nav variant="tabs">
                <a class="text-dark" [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0"
                    cNavLink>SG PR</a>
                <a class="text-dark" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Foreigner</a>
            </c-nav>
            <c-tab-content #tabContent="cTabContent">
                <c-tab-pane class="p-3">
                    <c-row class="g-3">
                        <!-- First Row -->
                        <c-col [md]="4">
                            <label cLabel for="inputCity">IC No.</label>
                            <input cFormControl id="inputCity" placeholder="S87005113A" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Passport No</label>
                            <input cFormControl id="passpornno" placeholder="AB123552AS" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputCity">NS Status</label>
                            <select cSelect id="nsstatus">
                                <option>Sample</option>
                            </select>
                        </c-col>
                        <!-- Second Row -->
                        <c-col [md]="4">
                            <label cLabel for="inputZip">IC Colour</label>
                            <select cSelect id="iccolor">
                                <option>Sample</option>
                            </select>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Place of Issue</label>
                            <select cSelect id="placeofissue">
                                <option>Place</option>
                            </select>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">NS Date Completed</label>
                            <input cFormControl id="nsdatecom" placeholder="" />
                        </c-col>

                        <!-- Third Row -->

                        <c-col [md]="4">
                            <label cLabel for="inputZip">IC Type</label>
                            <select cSelect id="ictype">
                                <option>4-1000</option>
                            </select>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Date of Issue</label>
                            <input cFormControl id="dateofIssue" placeholder="" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputCity">Religion</label>
                            <select cSelect id="ictype">
                                <option>Christian</option>
                            </select>
                        </c-col>
                        <!-- Fourth Row -->

                        <c-col [md]="4">
                            <label cLabel for="placeofissue2">Place of Issue</label>
                            <select cSelect id="ictype">
                                <option>Place</option>
                            </select>
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Expiry Date</label>
                            <input cFormControl id="expirydate" placeholder="" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Marital Status</label>
                            <select cSelect id="ictype">
                                <option>Married</option>
                            </select>
                        </c-col>

                        <!-- Fifth Row -->

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Date of Issue</label>
                            <input cFormControl id="dateofIssue" placeholder="" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">PR Date Issue</label>
                            <input cFormControl id="dateofIssue" placeholder="" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Youngest Child D.O.B.</label>
                            <input cFormControl id="inputZip" placeholder="" />
                        </c-col>
                    </c-row>
                </c-tab-pane>

                <c-tab-pane class="p-3">
                    <c-row class="g-3">
                        <!-- First Row -->
                        <c-col [md]="4">
                            <label cLabel for="inputCity">Permit No.</label>
                            <input cFormControl id="permitno" placeholder="S87005113A" />
                        </c-col>

                        <c-col [md]="4">
                            <label cLabel for="inputZip">Issue Date</label>
                            <input cFormControl id="inputZip" placeholder="" />
                        </c-col>
                        <c-col [md]="4">
                            <label cLabel for="inputZip">Expiry Date</label>
                            <input cFormControl id="inputZip" placeholder="" />
                        </c-col>
                        <!-- Second Row -->
                        <c-col [md]="4">
                            <label cLabel for="inputZip">Appeal Date</label>
                            <input cFormControl id="inputZip" placeholder="" />
                        </c-col>
                    </c-row>
                </c-tab-pane>
            </c-tab-content>
            <hr>
            <h5>Employment History</h5>
            <c-row class="g-3">

                <c-col [md]="2">
                    <label cLabel for="inputCity">Company name</label>
                </c-col>

                <c-col [md]="2">
                    <label cLabel for="inputZip">From</label>
                </c-col>
                <c-col [md]="2">
                    <label cLabel for="inputZip">To</label>
                </c-col>

                <c-col [md]="2">
                    <label cLabel for="inputZip">Position</label>
                </c-col>

                <c-col [md]="2">
                    <label cLabel for="inputZip">Salary</label>
                </c-col>

                <c-col [md]="2">
                    <label cLabel for="inputZip">Resign Reason</label>
                </c-col>
            </c-row>

            <c-input-group>
                <textarea aria-label="With textarea" cFormControl></textarea>
            </c-input-group>

            <hr>
            <h5>Leave Application</h5>
            <c-col [md]="4">
                <label cLabel for="inputZip">Branch</label>
                <select cSelect id="selbranch">
                    <option>LSAP</option>
                </select>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Department</label>
                <select cSelect id="seldep">
                    <option>Finance $ HR</option>
                </select>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Section</label>
                <select cSelect id="selsection">
                    <option>Administration</option>
                </select>
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Line</label>
                <select cSelect id="ictype">
                    <option></option>
                </select>
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Category</label>
                <select cSelect id="selcategory">
                    <option>Admin Staff</option>
                </select>
            </c-col>
            <c-col [md]="4">
                <label cLabel for="inputZip">Occupation</label>
                <select cSelect id="seloccupation">
                    <option>Asst manager</option>
                </select>
            </c-col>

            <hr>
            <h5>Hire and Termination Inform</h5>
            <c-col [md]="4">
                <label cLabel for="inputZip">Join Date</label>
                <input cFormControl id="joindate" placeholder="" />
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Status</label>
                <select cSelect id="selstatus">
                    <option></option>
                </select>
            </c-col>

            <c-col [md]="4">
                <label cLabel for="inputZip">Termination</label>
                <input cFormControl id="termination" placeholder="" />
            </c-col>

            <hr>
            <h5>Remarks</h5>
            <c-input-group>
                <textarea  cFormControl></textarea>
            </c-input-group>



        </c-row>
    </c-card-body>
</c-card>