<c-container fluid>
  <c-row>
    <c-col>
      <form cForm class="row g-3">
        <c-col [md]="6">
          <label cLabel for="lablecode">code</label>
          <input cFormControl id="code" type="text" />
        </c-col>
        <c-col [md]="6">
          <label cLabel for="lblname">Name</label>
          <input cFormControl id="name" type="text" />
        </c-col>
        <c-col [md]="6">
          <label cLabel for="labletel">Tel</label>
          <input cFormControl id="tel" type="text" />
        </c-col>
        <c-col [md]="6">
          <label cLabel for="lblemail">Email</label>
          <input cFormControl id="Email" type="Email" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lbladress1">Address 1</label>
          <input cFormControl id="Address1" placeholder="1234 Main St" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblAddress2">Address 2</label>
          <input cFormControl id="Address2" placeholder="Apartment, studio, or floor" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblAddress">Address 3</label>
          <input cFormControl id="Address3" placeholder="1234 Main St" />
        </c-col>
        <c-col [md]="12" >
          <button cButton type="submit" cButton color="secondary" size="sm">New Customer</button>
          <button cButton type="submit" cButton color="secondary" size="sm" disabled>edit Customer</button>
 </c-col>
       
      </form>


    </c-col>

    <!-- second form -->
    <c-col>
      <form cForm class="row g-3">
        <c-col [md]="6">
          <label cLabel for="lblquotationno">Quotation No</label>
          <input cFormControl id="quotationno" type="text" />
        </c-col>
        <c-col [md]="6">
          <label cLabel for="lblqdate">Quotation Date</label>
          <input cFormControl id="Qdate" type="Date" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblclientref">Client Ref</label>
          <input cFormControl id="lblclientref" placeholder="" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblsman">S'man</label>
          <input cFormControl id="sman" placeholder="" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblagent">Agent</label>
          <input cFormControl id="agent" placeholder="" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblpaymentterm">Payment Term</label>
          <input cFormControl id="paymentterm" placeholder="" />
        </c-col>
        <c-col [xs]="12">
          <label cLabel for="lblsupplier">Supplier</label>
          <input cFormControl id="supplier" />
        </c-col>
      
      </form>
    </c-col>
    
  </c-row>
  </c-container>