<c-container fluid>
  <c-row>
      <c-col>
        
          <form cForm class="row g-3">
            
              <c-col [md]="6">
                  <label cLabel for="lablecode">code</label>
                  <input cFormControl id="code" type="text" />
              </c-col>
              <c-col [md]="6">
                  <label cLabel for="lblname">Name</label>
                  <input cFormControl id="name" type="text" />
              </c-col>
              <c-col [md]="6">
                  <label cLabel for="labletel">Tel</label>
                  <input cFormControl id="tel" type="text" />
              </c-col>
              <c-col [md]="6">

                  <label cLabel for="lblemail">Email</label>

                  <input cFormControl id="Email" type="Email" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lbladress1">Address 1</label>

                  <input cFormControl id="Address1" placeholder="1234 Main St" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblAddress2">Address 2</label>

                  <input cFormControl id="Address2" placeholder="Apartment, studio, or floor" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblAddress">Address 3</label>

                  <input cFormControl id="Address3" placeholder="1234 Main St" />

              </c-col>

              <c-col [md]="12">

                  <button cButton type="submit" cButton color="secondary" size="sm">New Customer</button>

                  <button cButton type="submit" cButton color="secondary" size="sm" disabled>edit Customer</button>

              </c-col>


          
          </form>




      </c-col>



      <!-- second form -->

      <c-col>

          <form cForm class="row g-3">

              <c-col [md]="6">

                  <label cLabel for="lblquotationno">Quotation No</label>

                  <input cFormControl id="quotationno" type="text" />

              </c-col>

              <c-col [md]="6">

                  <label cLabel for="lblqdate">Quotation Date</label>

                  <input cFormControl id="Qdate" type="Date" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblclientref">Client Ref</label>

                  <input cFormControl id="lblclientref" placeholder="" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblsman">S'man</label>

                  <input cFormControl id="sman" placeholder="" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblagent">Agent</label>

                  <input cFormControl id="agent" placeholder="" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblpaymentterm">Payment Term</label>

                  <input cFormControl id="paymentterm" placeholder="" />

              </c-col>

              <c-col [xs]="12">

                  <label cLabel for="lblsupplier">Supplier</label>

                  <input cFormControl id="supplier" />

              </c-col>



          </form>

      </c-col>



      <form cForm class="row g-3">

          <c-col [md]="3">

              <label cLabel for="lblattn">ATTN</label>

              <input cFormControl id="attn" type="text" />

          </c-col>

          <c-col [md]="3">

              <label cLabel for="lblDdate">Delivery Date</label>

              <input cFormControl id="Ddate" type="Date" />

          </c-col>

          <c-col [md]="3">

              <label cLabel for="lblDmode">Delivery Mode</label>

              <select aria-label="medium select example" cSelect class="mb-3">

                  <option>Select Value</option>

                  <option value="1">Cash On Delivered</option>

                  <option value="2">Delivered to factory</option>

                  <option value="3">Direct delivry to buyer</option>

                  <option value="3"> Delivry to shop</option>

                  <option value="3">hand Carry</option>

              </select>

          </c-col>

          <c-col [xs]="12">

              <label cLabel for="lblDadd">Delivry Add</label>

              <input cFormControl id="Dadd" placeholder="enter addres here" />

          </c-col>

          <c-col [xs]="12">

              <label cLabel for="lblheader">Header</label>

              <textarea cFormControl id="header" rows="3" placeholder="Dear sir/mdm"></textarea>

          </c-col>

          <c-col [xs]="12">

              <label cLabel for="lblfooter">Footer</label>

              <select aria-label="Multiple select example" cSelect multiple size="3" sizing="lg">

                  <option>Validity: 14 days from date of quote.</option>

                  <option>Delivery: Ex Stock subjected to prior sales.</option>

                  <option>Otherwise, approximately 4-6 weeks ARO subjected to manufacturers' final confirmation.
                  </option>

                  <option> Payment term: 30 days from date of invoice.</option>

                  <option>Price: Prices quoted NOT inclusive of GST. </option>

                  <option>Prices quoted are valid only for the above (or more) quantities.</option>



              </select>

          </c-col>







      </form>

      <c-col>

          <form cForm class="row g-3">

            <c-col [md]="3">

              <label cLabel for="lbldefault">Default Dsc to Item%</label>

              <input cFormControl id="default" type="text" />

          </c-col>

          <c-col [md]="3">

              <label cLabel for="lblcurrency">Currency</label>

              <select aria-label="medium select example" cSelect class="mb-3">

                <option>Select Value</option>

                <option value="1">AS</option>

                <option value="2">DM</option>

                <option value="3">EUR</option>

                <option value="4">MSD</option>

                <option value="5">RMB</option>
                <option value="6">RMY</option>
                <option value="7">S$</option>
                <option value="8">SSS</option>
                <option value="9">U$</option>

            </select>
          </c-col>

          </form>

          <table borderless cTable>

              <thead>

                  <tr>

                      <th>Part No</th>

                      <th>Product Discription</th>

                      <th>origin Quantity</th>

                      <th>Quantity</th>

                      <th>Unit Price</th>

                      <th>Disc % </th>

                      <th>Amount</th>

                  </tr>

              </thead>

              <tbody>

                  <tr>

                      <th></th>

                      <td></td>

                      <td></td>

                      <td></td>

                  </tr>

                  <tr>

                      <th></th>

                      <td></td>

                      <td></td>

                      <td></td>

                  </tr>

                  <tr>

                      <th></th>

                      <td></td>

                      <td></td>

                  </tr>

              </tbody>
              <div>
<button  cButton color="secondary" shape="rounded-0" variant="outline" routerLink="/newquote">New Quote</button></div>
          </table>

      </c-col>
     

       
      <form cForm class="row g-3">
            <c-col [md]="4" >

                <label cLabel for="lblquotationno">Rate:</label>

                <input cFormControl id="quotationno" type="text" />

            </c-col>

            <c-col [md]="4">

                <label cLabel for="lblqdate">GoodsTotal</label>

                <input cFormControl id="Qdate" type="Date" />

            </c-col>

            <c-col [xs]="4">

                <label cLabel for="lblclientref">Discount</label>

                <input cFormControl id="lblclientref" placeholder="" />

            </c-col>

            <c-col [xs]="4">

                <label cLabel for="lblsman">Sub Total</label>

                <input cFormControl id="sman" placeholder="" />

            </c-col>

            <c-col [xs]="4">

                <label cLabel for="lblagent">Total Amount</label>

                <input cFormControl id="agent" placeholder="" />

            </c-col>

            <c-col [xs]="4">

                <label cLabel for="lblpaymentterm">GST/B$:</label>

                <input cFormControl id="paymentterm" placeholder="" />

            </c-col>

            <c-col [xs]="4">

                <label cLabel for="lblsupplier">Supplier</label>

                <input cFormControl id="supplier" />

            </c-col>

           
        </form>
<div>
        <button cButton color="secondary" variant="outline">Convert To Invoice</button>
        <button cButton color="success" variant="outline" type="submit">Save</button>
        <button  cButton color="dark" variant="outline">Cancel</button>
      </div>
  </c-row>

</c-container>