.leftdiv
{
float: left;
}
.middlediv
{
float: left;

}
.rightdiv
{
float: left;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    
  }

  .stickyFooter {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 0px;
    width: 98.5%;
    background-color: white;
    color: white;
    text-align: center;
    border: 1px solid grey;
 }

 .stickyFooterPillButton {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  border-radius:16px;
}

.stickyFooterPillButton:hover {
  background-color: #807e7e;
}

.editStickyFooterButton{
  background-color: #303C54;
}

.saveStickyFooterButton{
  background-color: #1aa808;
}

div.ex3 {
  overflow: auto;
}
