<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink style="color: grey">Quotation Information</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink style="color: grey">Customer Details</a>
</c-nav>
<c-card>
  <c-card-body>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane>
        <form cForm class="row g-3">
          <c-col [md]="3">
            <label cLabel for="lblQno">Quotation No</label>
            <input cFormControl id="Qno" type="text" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblQdrange">Quotation Date Range</label>
            <input cFormControl id="QDrange" type="date" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblCref">Client Ref </label>
            <input cFormControl id="Cref" placeholder="" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblAcode">Agent Code</label>
            <input cFormControl id="Acode" placeholder="" />
          </c-col>
          <c-col [xs]="12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button cButton type="submit" cButton color="light" shape="rounded-0">Clear</button>
              <button cButton type="submit" cButton color="dark" shape="rounded-0">Search</button>
            </div>
          </c-col>
        </form>
      </c-tab-pane>
      <c-tab-pane>
        <form cForm class="row g-3">
          <c-col [md]="3">
            <label cLabel for="lblQno">Customer Code</label>
            <input cFormControl id="Qno" type="text" />
          </c-col>
          <c-col [md]="3">
            <label cLabel for="lblQdrange">Customer Name</label>
            <input cFormControl id="QDrange" type="text" />
          </c-col>
          <c-col [xs]="12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button cButton type="submit" cButton color="light" shape="rounded-0">Clear</button>
              <button cButton type="submit" cButton color="dark" shape="rounded-0">Search</button>
            </div>
          </c-col>
        </form>
      </c-tab-pane>
    </c-tab-content>
  </c-card-body>
</c-card>
<c-card class="mt-4">
  <c-card-body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- <button cButton color="dark" shape="rounded-0" class="me-md-2" routerLink="/advancesearch">Advance -->
      <!-- Search</button> -->
      <!-- <svg [cIcon]="icons.cilList" size="xl" title="List Icon"></svg> -->
      <button cButton color="dark" shape="rounded-0" routerLink="/sales/newquote"> <svg [cIcon]="icons.cilPlus" size="sm"
          title="List Icon" style="margin-right: 5px;"></svg>New Quote</button>
      <button cButton color="dark" shape="rounded-0"><svg [cIcon]="icons.cilSettings"
          size="sm" title="List Icon" style="margin-right: 5px;"></svg>Column Setting</button>
      <button cButton color="dark" shape="rounded-0"><svg [cIcon]="icons.cilShareBoxed" size="sm"
          title="List Icon" style="margin-right: 5px;"></svg>Export To Excel</button>
    </div>
  </c-card-body>
</c-card>
<br>
<c-card class="mt">
  <c-card-body>
    <table cTable style="justify-content: center;">
      <thead cTableColor="light">
        <tr>
          <th scope="col">QUOTE NO</th>
          <th scope="col">QUOTE DATE</th>
          <th scope="col">CUSTOMER CODE</th>
          <th scope="col">TOTAL DUE AMOUNT</th>
          <th scope="col">CUSTOMER NAME</th>
          <th scope="col">DELIVERY ADD</th>
          <th scope="col" class="text-center">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
          
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">QBL9000092</th>
          <td> 13/08/2021</td>
          <td>A000432</td>
          <td> 127.33</td>
          <td> ALAN NG-96884338</td>
          <td></td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
              <a cTooltip="Edit"  [routerLink] cTooltipTrigger="hover"><svg cIcon name="cilPencil" size="sm" title="Numbered List Icon" ></svg></a>
              <a cTooltip="Confirm to Invoice"  [routerLink] cTooltipTrigger="hover"><svg [cIcon]="icons.cilCart" size="sm" title="Numbered List Icon"></svg></a>
            </div>
          </td>
        </tr>

        

       

      </tbody>
    </table>
    <c-pagination aria-label="Page navigation example">
      <li cPageItem>
        <a cPageLink [routerLink] style="color: gray;">Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink] style="color: gray;">1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink] style="color: gray;">2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink] style="color: gray;">3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink] style="color: gray;">Next</a>
      </li>
<li>
  <label cLabel for="lblAcode"  style=" margin-left:50px; margin-top: 6px;">Total Records: 75</label>
</li>
    </c-pagination>
    <label cLabel for="lblAcode">Records per page: 10</label>
    
   
  </c-card-body>
</c-card>