<h2>Quotation List</h2>
<c-container>
  <c-row>
    <c-col>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <button (click)="toggleCollapse()" cButton class="me-md-2" color="dark" >Advance Search</button>
        <c-col [xs]="6">
          <c-card class="mt-3" [visible]="visible" cCollapse>
            <c-card-body>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
              richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
              anderson cred nesciunt sapiente ea proident.
            </c-card-body>
          </c-card>
        </c-col> -->
        <button cButton color="dark" shape="rounded-0" class="me-md-2" routerLink="/advancesearch">Advance
          Search</button>
        <button cButton color="dark" shape="rounded-0" routerLink="/newquote">New Quote</button>
        <button cButton color="dark" shape="rounded-0">Colunm Setting</button>
        <button cButton color="dark" shape="rounded-0">Export To Excel</button>

      </div>

    </c-col>
  </c-row>
</c-container>
<br>

<div class="fade-in">
  <c-card class="mb-4">
    <c-card-body>
      <table cTable>
        <thead cTableColor="light">
          <tr>
            <th scope="col">QUOTE NO</th>
            <th scope="col">QUOTE DATE</th>
            <th scope="col">CUSTOMER CODE</th>
            <th scope="col">TOTAL DUE AMOUNT</th>
            <th scope="col">CUSTOMER NAME</th>
            <th scope="col">DELIVERY ADD</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>

              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>

          <tr>
            <th scope="row">QBL9000092</th>
            <td> 13/08/2021</td>
            <td>A000432</td>
            <td> 127.33</td>
            <td> ALAN NG-96884338</td>
            <td>Jan 27, 2022</td>
            <td>
              <svg cIcon name="cilPencil" size="sm" title="Numbered List Icon"></svg>
              <svg cIcon name="cilPaperclip" size="sm" title="Numbered List Icon"></svg>
            </td>
          </tr>



        </tbody>
      </table>
    </c-card-body>
  </c-card>
</div>