            .leftdiv
            {
            float: left;
            width: 45%;
            }
            
            .rightdiv
            {
            float: right;
            width: 55%;
            }

            div{
            padding : 1%;
            color: rgb(0, 0, 0);
            background-color: 009900;
            border: solid rgb(255, 255, 255);
            }

            .reports__body__content__icon {
                position: absolute;
                right: 0;
                top: 4px;
            }