<!--<p>payroll-dashboard works!</p>-->
<div class="body flex-grow-1 px-1">
  <c-row>
    <c-col lg=12>
      <c-container breakpoint="lg" class="h-auto container-lg">
        <c-card class="mb-4">
          <c-card-body>
            <form cForm class="row g-3">
              <div class=".float-md-left">
                <c-row class="justify-content-md-end">
                  <c-col [md]="6">
                    <div class="d-grid gap-2 d-md-flex float-end">
                      <button cButton color="dark" shape="rounded-0" routerLink="/payroll/employee"
                        class="float-right;">&nbsp;<span>
                          <!--<svg [cIcon]="icons.cilLibraryAdd" size="xs" title="List Icon"
                          style="align-items: center;"></svg>--><svg [cIcon]="icons.cilPlus" size="xs"
                            title="List Icon" style="align-items: center;margin-right: 5px;"></svg>
                        </span>Add New Staff</button>
                      <button cButton color="dark" shape="rounded-0" routerLink="/payroll/pending"
                        class="float-right;">&nbsp;<span><svg [cIcon]="icons.cilCheckCircle" size="xs" title="List Icon"
                            style="align-items: center;margin-right: 5px;"></svg></span>Pending Approvals</button>
                    </div>
                  </c-col>
                </c-row>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-container>
    </c-col>
  </c-row>
</div>

<div class="body flex-grow-1 px-3">

  <c-container breakpoint="lg" class="h-auto container-lg">
    <router-outlet></router-outlet>
    <app-widgets-dropdown></app-widgets-dropdown>
    <c-row>
      <c-col lg=12>
        <c-card class="mb-4">
          <c-card-header>Employees</c-card-header>
          <c-card-body>
            <table [hover]="true" [responsive]="true" [striped]="true" style="justify-content: center;" cTable
              class="mb-0 border">
              <thead cTableColor="light">
                <tr>
                  <th class="text-center">
                    <svg cIcon name="cilPeople"></svg>
                  </th>
                  <th>Name</th>
                  <th class="text-Left">Code</th>
                  <th>Branch</th>
                  <th>Departments</th>
                  <th>Section</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; index as i">
                  <td class="text-center">
                    <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}">
                    </c-avatar>
                  </td>
                  <td>
                    <div>{{ user.name }}</div>
                    <div class="small text-medium-emphasis">
                      <span>{{ user.address }}</span>
                    </div>
                  </td>
                  <td class="text-left">
                    <!--<svg cIcon id="{{ user.country + user.name }}" name="cif{{ user.country }}" size="xl"
                      title="{{ user.country }}"></svg>-->
                    <div class="small text-medium-emphasis">
                      {{ user.registered }}
                    </div>
                  </td>
                  <td class="text-Left">
                    <div class="small text-medium-emphasis">
                      <span>LSAP</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span>DRV</span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span>OPER</span>
                    </div>
                  </td>
                  <td>
                    <div class="small text-medium-emphasis text-center">
                      <!-- Call to action buttons -->
                      <ul class="list-inline m-0">
                        <li class="list-inline-item">
                          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                            data-placement="top" title="Edit"><i class="fa fa-edit"></i>Edit</button>
                        </li>
                        <li class="list-inline-item">
                          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                            data-placement="top" title="Delete"><i class="fa fa-trash"></i>Delete</button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>