 .buttonBlock{
    width: 110%;
    float: right;
    margin: 0;
    overflow: hidden;
    margin-right:10%;
 }

 .buttonPendingApprovalsBlock{
    width: 123%;
    float: right;
    margin: 0;
    overflow: hidden;
 }