<c-card>
    <c-card-body>
       
        <c-row>
            <c-col [sm]="12">
                <c-card class="mb-4">
                    <c-card-body>
                        <h5 cCardTitle>Customer Information</h5>
                        <form cForm class="row g-3">
                            <c-col [md]="3">
                                <label cLabel for="lablecode">code</label>
                                <input cFormControl id="code" type="text" placeholder="A000432" [disabled]="notEditMode"/>
                            </c-col>
                            <c-col [md]="3">
                                <label cLabel for="lblname">Name</label>
                                <input cFormControl id="name" type="text" placeholder="ALAN NG-96884338" [disabled]="notEditMode" />
                            </c-col>
                            <c-col [md]="3">
                                <label cLabel for="labletel">Tel</label>
                                <input cFormControl id="tel" type="text" />
                            </c-col>
                            <c-col [md]="3">

                                <label cLabel for="lblemail">Email</label>

                                <input cFormControl id="Email" type="Email" />

                            </c-col>
                     
                            <c-col [md]="4">

                                <label cLabel for="lbladress1">Address 1</label>

                                <input cFormControl id="Address1" placeholder="eg.1234 Main St" />

                            </c-col>

                            <c-col  [md]="4">

                                <label cLabel for="lblAddress2">Address 2</label>

                                <input cFormControl id="Address2" placeholder="eg.Apartment, studio, or floor" />

                            </c-col>

                            <c-col  [md]="4">

                                <label cLabel for="lblAddress">Address 3</label>

                                <input cFormControl id="Address3" placeholder="eg.1234 Main St" />

                            </c-col>
                        </form>
                    </c-card-body>
                    <c-card-footer>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" cButton color="secondary" size="sm">New Customer</button>

                         <button cButton type="submit" class="text-medium-emphasis" cButton color="secondary" size="sm" disabled>Edit Customer</button> 
                        </div>
                        <!-- <small class="text-medium-emphasis"></small> -->
                    </c-card-footer>
                </c-card>
            </c-col>
        </c-row>

        <c-col [sm]="12">
          <c-card class="mb-4">
              <c-card-body>
          <h5 cCardTitle>Invoice Information</h5>
          <form cForm class="row g-3">
              <c-col [md]="4">
          
                    <label cLabel for="lblinvoiceno">Invoice No</label>
          
                    <input cFormControl id="invoiceno" type="text" [disabled]="notEditMode" placeholder="BL9002079"/>
          
                  </c-col>
          
                  <c-col [md]="4">
          
                    <label cLabel for="lblidate">Invoice Date</label>
          
                    <input cFormControl id="Idate" type="Date"  [disabled]="notEditMode" placeholder="13/08/2021"/>
          
                  </c-col>
                  <c-col [md]="4">
          
                    <label cLabel for="lblpaymentterm">Payment Term</label>
          
                    <input cFormControl id="paymentterm" placeholder="" />
          
                  </c-col>
          
                  
                  <c-col [md]="3">
          
                    <label cLabel for="lblpono">P/O No</label>
          
                    <input cFormControl id="lblPOno" placeholder="" />
          
                  </c-col>
                  <c-col [md]="3">
          
                    <label cLabel for="lblsman">Salesman</label>
          
                    <input cFormControl id="sman" placeholder="" />
          
                  </c-col>
          
                  <c-col [md]="3">
          
                    <label cLabel for="lblagent">Agent</label>
          
                    <input cFormControl id="agent" placeholder="" />
          
                  </c-col>
          
                  
          
                  <c-col [md]="3">
          
                    <label cLabel for="lblbranch">Branch / WH Loc</label>
          
                    <select aria-label="medium select example" cSelect class="mb-3">
                  
                        <option>Select Value</option>
              
                        <option value="1">Wh1</option>
              
                        <option value="2">Wh2</option>
              
                        <option value="3">VIV</option>
              
                        <option value="3">BAL</option>
              
                        <option value="3">TAM</option>
              
                      </select>
          
                  </c-col>
            </form>
              </c-card-body>
          </c-card>
      </c-col>
        <c-col [sm]="12">
            <c-card class="mb-4">
                <c-card-body>
                    <h5 cCardTitle>Delivery  Information</h5>
                    <form cForm class="row g-3">

                        <c-col [md]="3">
                  
                          <label cLabel for="lblattn">ATTN</label>
                  
                          <input cFormControl id="attn" type="text" />
                  
                        </c-col>
                  
                        <c-col [md]="3">
                  
                          <label cLabel for="lblDdate">Delivery Date</label>
                  
                          <input cFormControl id="Ddate" type="Date" />
                  
                        </c-col>
                  
                        <c-col [md]="3">
                  
                          <label cLabel for="lblDmode">Delivery Mode</label>
                  
                          <select aria-label="medium select example" cSelect class="mb-3">
                  
                            <option>Select Value</option>
                  
                            <option value="1">Cash On Delivered</option>
                  
                            <option value="2">Delivered to factory</option>
                  
                            <option value="3">Direct delivry to buyer</option>
                  
                            <option value="3"> Delivry to shop</option>
                  
                            <option value="3">hand Carry</option>
                  
                          </select>
                  
                        </c-col>
                  
                        <c-col [xs]="12">
                  
                          <label cLabel for="lblDadd">Delivry Address</label>
                  
                          <input cFormControl id="Dadd" placeholder="enter addres here" />
                  
                        </c-col>
                  
                        <c-col [xs]="12">
                  
                          <label cLabel for="lblheader">Header</label>
                  
                          <textarea cFormControl id="header" rows="3" placeholder="Dear sir/mdm"></textarea>
                  
                        </c-col>
                  
                        <c-col [xs]="12">
                  
                          <label cLabel for="lblfooter">Footer</label>
                  
                          <select aria-label="Multiple select example" cSelect multiple size="3" sizing="lg">
                  
                            <option>Validity: 14 days from date of quote.</option>
                  
                            <option>Delivery: Ex Stock subjected to prior sales.</option>
                  
                            <option>Otherwise, approximately 4-6 weeks ARO subjected to manufacturers' final confirmation.
                            </option>
                  
                            <option> Payment term: 30 days from date of invoice.</option>
                  
                            <option>Price: Prices quoted NOT inclusive of GST. </option>
                  
                            <option>Prices quoted are valid only for the above (or more) quantities.</option>
                  
                          </select>
                  
                        </c-col>
                  
                      </form>
                  
                </c-card-body>
            </c-card>
        </c-col>
        <c-card>
            <c-card-body>
                
                <form cForm class="row g-3">

                    <c-col [md]="3">
            
                      <label cLabel for="lbldefault">Default Dsc to Item%</label>
            
                      <input cFormControl id="default" type="text" />
            
                    </c-col>
            
                    <c-col [md]="3">
            
                      <label cLabel for="lblcurrency">Currency</label>
            
                      <select aria-label="medium select example" cSelect class="mb-3">
            
                        <option>Select Value</option>
            
                        <option value="1">AS</option>
            
                        <option value="2">DM</option>
            
                        <option value="3">EUR</option>
            
                        <option value="4">MSD</option>
            
                        <option value="5">RMB</option>
                        <option value="6">RMY</option>
                        <option value="7">S$</option>
                        <option value="8">SSS</option>
                        <option value="9">U$</option>
            
                      </select>
                    </c-col>
            
                  </form>
                <c-card>
                    <c-card-body>
                       
                        <table borderless cTable>

                            <thead>
                    
                              <tr>
                    
                                <th>Part No</th>
                    
                                <th>Product Discription</th>
                    
                                <th>Origin Quantity</th>
                    
                                <th>Quantity</th>
                    
                                <th>Unit Price</th>
                    
                                <th>Disc % </th>
                    
                                <th>Amount</th>
                    
                              </tr>
                    
                            </thead>
                    
                            <tbody>
                    
                              <tr>
                    
                                <th></th>
                    
                                <td></td>
                    
                                <td></td>
                    
                                <td></td>
                    
                              </tr>
                    
                              <tr>
                    
                                <th></th>
                    
                                <td></td>
                    
                                <td></td>
                    
                                <td></td>
                    
                              </tr>
                    
                              <tr>
                    
                                <th></th>
                    
                                <td></td>
                    
                                <td></td>
                    
                              </tr>
                    
                            </tbody>
                           
                          </table>
                          <div  class="mx-auto" style="width: 200px;">
                            <button cButton color="secondary" shape="rounded-0" variant="outline" routerLink="/newquote">New
                              Quote</button>
                          </div>
                    </c-card-body>

                </c-card>
            </c-card-body>

        </c-card>
        <form cForm class="row g-3">
            <c-col [md]="2" >
      
              <label cLabel for="lblquotationno">Rate:</label>
      
              <input cFormControl id="quotationno" type="text" />
      
            </c-col>
      
            <c-col [md]="2">
      
              <label cLabel for="lblqdate">GoodsTotal</label>
      
              <input cFormControl id="Qdate" type="Date" />
      
            </c-col>
      
            <c-col [xs]="2">
      
              <label cLabel for="lblclientref">Discount</label>
      
              <input cFormControl id="lblclientref" placeholder="" />
      
            </c-col>
      
            <c-col [xs]="2">
      
              <label cLabel for="lblsman">Sub Total</label>
      
              <input cFormControl id="sman" placeholder="" />
      
            </c-col>
      
            <c-col [xs]="2">
      
              <label cLabel for="lblagent">Total Amount</label>
      
              <input cFormControl id="agent" placeholder="" />
      
            </c-col>
      
            <c-col [xs]="2">
      
              <label cLabel for="lblpaymentterm">GST/B$:</label>
      
              <input cFormControl id="paymentterm" placeholder="" />
      
            </c-col>
      
            <c-col [xs]="2">
      
              <label cLabel for="lblsupplier">Total B$</label>
      
              <input cFormControl id="supplier" />
      
            </c-col>
      
            <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button cButton color="secondary" > <svg [cIcon]="icons.cilArrowThickRight" size="sm"></svg>
                <svg [cIcon]="icons.cilCart" size="sm" style="margin-right: 5px;"></svg>Invoice</button>
             </div>
          </form>
    </c-card-body>

    <!-- <c-card-footer> -->
       
       
      <div class="stickyFooter">
        <div style="float:right;">
           <!-- <button cButton  class="stickyFooterPillButton btn-sm invoiceStickyFooterButton" > <svg [cIcon]="icons.cilArrowThickRight" size="sm"
          style="margin-right: 5px;"></svg><svg [cIcon]="icons.cilCart" size="sm" style="margin-right: 8px;" ></svg>Invoice</button> -->
            <button cButton class="stickyFooterPillButton btn-sm editStickyFooterButton"  (click)="onTogglenotEditMode()" style="margin:3px;"><svg cIcon name="cilPencil" size="sm" style="margin-right: 5px;"></svg>
                Edit</button>
    
            <div style="float:right;">
                <button cButton class="stickyFooterPillButton btn-sm saveStickyFooterButton" routerLink="" style="margin:3px;"><svg cIcon name="cilSave" size="sm" style="margin-right: 5px;"></svg>
                    Save</button>
            </div>
        </div>
    </div>
       
    <!-- </c-card-footer> -->
</c-card>


