<p>pending works!</p>
<div class="fade-in">
    <c-row>
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
              <strong>Vacation Management</strong> <small></small>
            </c-card-header>
            <c-card-body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Start Date</th>
                          <th scope="col">End Date</th>
                          <th scope="col">Type</th>
                          <th scope="col">Name</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>31/01/2022</th>
                          <td>31/01/2022</td>
                          <td>Medical Leave (Sick Leave)</td>
                          <td>EMPLOYEE ANW</td>
                          <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                            <button type="button" class="btn btn-danger">Reject</button></td>
                        </tr>
                        <tr>
                            <th>01/02/2022</th>
                            <th>01/02/2022</th>
                            <td>Company Holidays</td>
                            <td>EMPLOYEE ANW</td>
                            <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                              <button type="button" class="btn btn-danger">Reject</button></td>
                          </tr>
                          <tr>
                            <th>01/02/2022</th>
                            <th>01/02/2022</th>
                            <td>Company Holidays</td>
                            <td>EMPLOYEE KU</td>
                            <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                              <button type="button" class="btn btn-danger">Reject</button></td>
                          </tr>
                          <tr>
                            <th>02/02/2022</th>
                            <td>02/02/2022</td>
                            <td>Company Holidays</td>
                            <td>EMPLOYEE ANW</td>
                            <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                              <button type="button" class="btn btn-danger">Reject</button></td>
                          </tr>
                          <tr>
                            <th>02/02/2022</th>
                            <td>02/02/2022</td>
                            <td>Company Holidays</td>
                              <td>EMPLOYEE NG</td>
                              <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                                <button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                            <tr>
                              <th>01/02/2022</th>
                              <th>01/02/2022</th>
                              <td>Compensate Leave</td>
                              <td>EMPLOYEE TA1</td>
                              <td><button type="button" class="btn btn-success">Approve</button><span>&nbsp;</span>
                                <button type="button" class="btn btn-danger">Reject</button></td>
                            </tr>
                      </tbody>
                    </table>
            </c-card-body>
            </c-card>            
        </c-col>
    </c-row>
</div>